<h1>Add new course</h1>

{{#if error}}
    <p class="alert">{{error}}</p>
{{/if}}

<form action="/add" method="post">
    <div class="input-field">
        <input id="title" name="title" type="text" value="{{data.title}}" class="validate" required>
        <label for="title">Course Name</label>
        <span class="helper-text" data-error="Enter name"></span>
    </div>

    <div class="input-field">
        <input id="price" name="price" type="number" value="{{data.price}}" class="validate" required min="1">
        <label for="price">Price</label>
        <span class="helper-text" data-error="Enter price"></span>
    </div>

    <div class="input-field">
        <input id="img"  name="img" type="text" value="{{data.img}}" class="validate" required>
        <label for="img">Image URL</label>
        <span class="helper-text" data-error="Enter image url"></span>
    </div>

    <input type="hidden" name="_csrf" value="{{csrf}}">
    <button class="btn primary">ADD course</button>

</form>
